/* ---google font---- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root{
  --main-color:#00A3E1;
  --dark-bg:#2B2C2F;
  --heading-color:#FFFFFF;
  --white-alpha:#878788;
  --paragraph-color:#BBBBBB;
}

/* ---global css start----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: #191919 !important;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ---global css end----------- */